@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200&family=Lobster&family=Montserrat:wght@300&family=Playfair+Display:ital,wght@0,600;1,400&family=Roboto+Mono:wght@200;400&family=Roboto+Slab&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400;1,500&display=swap");
:root{
  --dark-blue: #000428;
  --cyan: #0095ff;
  --dark-cyan: #0048ff;
  --white: #ffffff;
}

html{
  max-height: 100%;
  max-width: 100%;
}

header{
  background-color:black;
  padding:20px;
  color:white;
  font-size:50px;
  display:flex;
  justify-content: space-between;
  font-family: "Jost" Sans-serif;
}
  
  
.icons{
  text-align: justify;
  background-color: black;
  color:white;
  
}
@media only screen and (min-width: 768px) {
  #icons {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 1px;
  }
}

.icons a, section{
   margin-left: 10px;

}

a
{color: white;}

    #ico{
font-size:20px;
    color:#000;
    display:inline-block;
    margin-left:10px;
    
  }
body{
  margin: 0;
  background-color: black;
  padding: 0;
  font-family: "Jost", Sans-serif;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuP8xP-bfXrXYnejIWqN9f35Nrce_D1ynTPGcWXogkWQ9UF8R3s5PyuE1KH31Lr7_gv2uSVg&s");

}
footer{
  background-color:black;
  padding:20px;
  color:white;
  margin-bottom: 3rem;
  position:relative;
  margin-top: auto;
  margin-bottom: auto;
  font-size:25px;
  text-align: center;
}

nav {
            display: inline-block;
        }

        nav a {
            color: #fff;
          font-size:20px;
            text-decoration: none;
            padding: 5px 10px;
            margin-right: 10px;
          border: 1px soid white;
          background-color: orange;
          border-radius:10px;
           
        }


h2{
  display:inline-block;
  color:white;
  
}

 .grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* Creates four columns with equal width */
      grid-gap: 1px; /* Adjust the gap between grid items as needed */
       max-width: 100%;
   margin-left: 14px;
 }
@media only screen and  (max-width:767px){
  .grid-container{
    grid-template-columns: repeat(2, 1fr);
    display: grid;
  }
  
}



#div-section{
  color:white;
  background-color: #333;
  margin-bottom: 30px;
  width:150px;
  border:2px solid black;
}
        form {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
               padding: 20px;
            width: 300px;
            margin: auto;
          
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        input,
        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }
h3{
  color:purple;
  font-size:30px;
  text-decoration: underline;
  text-align: center;
  
}
h4{
  color:white;
  
}


#mobilenav{
  display: none;
  padding:5px;
  width: 100%;
  bottom: 0;
  background-color: var(--dark-blue);
  position:fixed;
text-align: center;
}

#mobilenav a{
  color: #fff;
          font-size:px;
            text-decoration: none;
            padding: 5px 10px;
            margin-right: 10px;
          border: 1px soid white;
          background-color: orange;
          border-radius:10px;
       
}



@media(max-width:769px){
    #navbar{display: none;}

    
  
  #mobilenav{
      display:block;
    }
  
@media(max-width:280px){
    #navbar{display: none;}

    
  
@media(max-width:600px){
    #navbar{display: none;}

    @media(max-width:600px){
    h2{display: none;}

  @media(max-width:769px){
    h2{display: none;}
